/* 
    Created on : May 19, 2015, 12:27:43 AM
    Author     : Sai Pone Tha Aung
*/

body{
    min-width: 330px!important;
    font-family: 'Roboto Condensed', sans-serif;
}

.mgtop15{
    margin-top: 15px;
}

.mgpd0{
    margin: 0!important;
    padding: 0!important;
}

.weather-box{
    border: 1px solid #e2e2e2;
    border-radius: 0.5em;
    margin: 10px 0;
    padding-bottom: 5px;
}

.gray{
    color: #777;
}

.mglr0{
    margin-left: 0!important;
    margin-right: 0!important;
}

.navbar{
        margin-bottom: 0!important;
    }

.weather{
    display: none;
}

.clear{
    clear: both;
}

.btnWeather{
    margin-top: 20px;
}

.maincontent{
    margin-bottom: 40px;
}

@media screen and (max-width: 768px){
	
	#header{
		margin-bottom: 0!important;
	}
	
	#header > .container{
		padding: 0!important;
	}
		
	.navHeaderCollapse{
		width: 100%!important;
		margin: 0!important;
	}

}